{% extends 'restaurant/rest_base.html' %}

{% block title %}Restaurant - Dashboard{% endblock %}

{% block display %}



<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <div class="flex px-16 justify-between flex-column md:flex-row flex-wrap space-y-6 md:space-y-0 py-4 bg-white dark:bg-gray-900">
        <div>
            <label for="table-search" class="sr-only">Search</label>
        <div class="relative">
            <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                </svg>
            </div>
            <input type="text" id="table-search" class="block pt-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter Order Number">
        </div>
        </div>
        <div class="relative">
        <!-- <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
        </div>
        <a href="#" type="button" data-modal-target="addFoodModal" data-modal-show="addFoodModal" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Add New Food</a>--->
        </div>
    </div>
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs uppercase bg-gray-50 dark:bg-gray-900 dark:text-gray-900">
            <tr>
                <th scope="col" class="px-6 py-3 font-bold text-gray-900">
                    Customer Details
                </th>
                <th scope="col" class="px-6 py-3 font-bold text-gray-900">
                    Order Details
                </th>
                <th scope="col" class="px-6 py-3 font-bold text-gray-900">
                    Order Status
                </th>
                <th scope="col" class="px-6 py-3 font-bold text-gray-900">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <th scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
                    <div class="ps-3">
                        <div class="text-base font-semibold">Neil Sims</div>
                        <div class="font-semibold text-gray-900">neil.sims@flowbite.com</div>
                    </div>  
                </th>
                <td class="px-6 py-4">
                    <div class="text-base font-semibold text-gray-900">IXG-324272364</div>
                    <div class="font-semibold text-gray-900">Kampala, Uganda</div>
                </td>
                <td class="px-6 py-4">
                    <div class="flex items-center">
                        <div class="h-2.5 w-2.5 rounded-full bg-green-500 me-2"></div> Online
                    </div>
                </td>
                <td class="px-6 py-4">
                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Mark Complete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}