{% extends 'base.html' %}

{% block title %}Customer - Dashboard{% endblock %}

{% block content %}


<div class="max-w-2xl mx-auto">

	<div class="p-4 max-w-md bg-white rounded-lg border shadow-md sm:p-8 dark:bg-gray-800 dark:border-gray-700">
    <div class="flex justify-between items-center mb-4">
      <h3 class="text-xl font-bold leading-none text-gray-900 dark:text-white">Selected Food with Price</h3>
   </div>
   <div class="flow-root">
        <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
          <li class="py-3 sm:py-4">
            <div class="flex items-center space-x-4">
                <div class="flex-1 min-w-0">
                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                      Selected Food: {{ selected_food.name }}
                    </p>
                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                      Price: {{ best_restaurant.price }}
                    </p>
                </div>
            </div>
          </li>
        </ul>
   </div>
</div>
</div>

{% endblock %}
